<!-- Launch Kmriiwa Gazebo simulation in an empty world -->
<launch>

  <arg name="hardware_interface" default="PositionJointInterface"/>
  <arg name="controllers" default="joint_state_controller manipulator_controller"/>

  <arg name="use_sim_time" default="true"/>
  <arg name="debug" default="false"/>
  <arg name="verbose" default="false" />
  <arg name="paused" default="true" />
  <arg name="headless" default="false" />
  <env name="GAZEBO_MODEL_PATH" value="$(optenv GAZEBO_MODEL_PATH):$(find kmriiwa_gazebo)/worlds/models" />

  <!-- start Gazebo with test zone world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find kmriiwa_gazebo)/worlds/test_zone.world"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="debug" value="$(arg debug)"/>
    <arg name="verbose" value="$(arg verbose)" />
    <arg name="paused" value="$(arg paused)" />
    <arg name="headless" value="$(arg headless)" />
  </include>
  
  <!-- spawn the first robot -->
  <group ns="kuka1">
    <include file="$(find kmriiwa_gazebo)/launch/includes/robot.launch.xml">
      <arg name="robot_name" value="kuka1" />
      <arg name="hardware_interface" value="$(arg hardware_interface)"/>
      <arg name="init_pose_x" value="1.5"/>
      <arg name="init_pose_y" value="0.0"/>
      <arg name="init_pose_z" value="0.0"/>
      <arg name="init_pose_yew" value="0.0"/>
    </include>

    <!-- spawn the controllers -->
    <group ns="arm">
      <include file="$(find kmriiwa_gazebo)/launch/includes/kmriiwa_gazebo_control.launch">
        <arg name="robot_name" value="kuka1" />
        <arg name="controllers" value="$(arg controllers)"/>
        <arg name="hardware_interface" value="$(arg hardware_interface)"/>
      </include>
    </group>
  </group>

  <!-- spawn the second robot -->
  <group ns="kuka2">
    <include file="$(find kmriiwa_gazebo)/launch/includes/robot.launch.xml">
      <arg name="robot_name" value="kuka2" />
      <arg name="hardware_interface" value="$(arg hardware_interface)"/>
      <arg name="init_pose_x" value="3.5"/>
      <arg name="init_pose_y" value="5.0"/>
      <arg name="init_pose_z" value="0.0"/>
      <arg name="init_pose_yew" value="1.57"/>
    </include>

    <!-- spawn the controllers -->
    <group ns="arm">
      <include file="$(find kmriiwa_gazebo)/launch/includes/kmriiwa_gazebo_control.launch">
        <arg name="robot_name" value="kuka2" />
        <arg name="controllers" value="$(arg controllers)"/>
        <arg name="hardware_interface" value="$(arg hardware_interface)"/>
      </include>
    </group>
  </group>


</launch>
