<?xml version="1.0"?>
<launch>

  <arg name="scan_topic" default="scan_multi" />
  <arg name="robot_name" default="kmriiwa" />
  <!-- launch the laser scan merger to contactate laser scanners messages into a single message -->
  <include file="$(find kmriiwa_navigation)/launch/laserscan_merge.launch">
    <arg name="robot_name" value="$(arg robot_name)" />
  </include>

  <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping">
    <rosparam file="$(find kmriiwa_navigation)/config/gmapping.yaml" command="load" subst_value="true">$(arg robot_name) </rosparam>
    <remap from="scan" to="$(arg scan_topic)"/>
  </node>
</launch>
