<launch>

  <arg name="robot_name" default="kmriiwa" />
  <arg name="cloud_destination_topic" default="merged_cloud"/>
  <arg name="scan_destination_topic" default="scan_multi"/>

  <node pkg="ira_laser_tools" name="laserscan_multi_merger" type="laserscan_multi_merger" respawn="true" respawn_delay="10" output="screen">
    <param name="destination_frame" value="$(arg robot_name)_base_link"/>
    <param name="cloud_destination_topic" value="$(arg cloud_destination_topic)"/>
    <param name="scan_destination_topic" value="$(arg scan_destination_topic)"/>
    <param name="laserscan_topics" value ="/$(arg robot_name)/base/state/LaserB1Scan /$(arg robot_name)/base/state/LaserB4Scan" />

    <param name="angle_min" value="$(eval (-135* 3.1415) / 180)"/>
    <param name="angle_max" value="(eval (135* 3.1415) / 180)"/>
    <param name="angle_increment" value="(eval (0.5* 3.1415) / 180)"/>
    <param name="scan_time" value="0.5"/>
    <param name="range_min" value="0.12"/>
    <param name="range_max" value="15.0"/>
</node>

</launch>
