<launch>

  <arg name="robot_ns" default="kmriiwa" />
  <arg name="no_static_map" default="false" />
  <arg name="base_global_planner" default="navfn/NavfnROS"/>
  <arg name="base_local_planner" default="teb_local_planner/TebLocalPlannerROS" />
  <!-- <arg name="base_local_planner" default="base_local_planner/TrajectoryPlannerROS" /> -->

  <group ns="$(arg robot_ns)">
    <!-- launch the laser scan merger to contactate laser scanners messages into a single message -->
    <include file="$(find kmriiwa_navigation)/launch/laserscan_merge.launch">
      <arg name="robot_ns" value="$(arg robot_ns)" />
    </include>

    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
      <!-- local and global base planners -->
      <param name="base_global_planner" value="$(arg base_global_planner)" />
      <param name="base_local_planner" value="$(arg base_local_planner)" />
      <rosparam file="$(find kmriiwa_navigation)/config/local_planner.yaml" command="load" />


      <!--common config including observation sources -->
      <rosparam file="$(find kmriiwa_navigation)/config/common_costmap.yaml" command="load" ns="global_costmap"/>
      <rosparam file="$(find kmriiwa_navigation)/config/common_costmap.yaml" command="load" ns="local_costmap" />
      
      <!-- global costmap with static map -->
      <rosparam file="$(find kmriiwa_navigation)/config/global_costmap_static_map.yaml" command="load" unless="$(arg no_static_map)"/>
      <!-- global costmap with laser -->
      <rosparam file="$(find kmriiwa_navigation)/config/global_costmap_laser.yaml" command="load" if="$(arg no_static_map)"/>
      <param name="global_costmap/width" value="100.0" if="$(arg no_static_map)"/>
      <param name="global_costmap/height" value="100.0" if="$(arg no_static_map)"/>
      
      <!-- local costmap -->
      <rosparam file="$(find kmriiwa_navigation)/config/local_costmap.yaml" command="load" /> 
      
      <remap from="cmd_vel" to="base/command/cmd_vel" />
    </node>
  </group>

</launch> 