<?xml version="1.0"?>
<launch>
  
  <arg name="robot_name" default="kmriiwa" />
  <arg name="hardware_interface" default="PositionJointInterface" />
  <arg name="robot_extras" default="$(find kmriiwa_description)/urdf/robot/empty.xacro"/>

  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find kmriiwa_description)/urdf/robot/kmriiwa.urdf.xacro' robot_name:='$(arg robot_name)' hardware_interface:='$(arg hardware_interface)' robot_extras:='$(arg robot_extras)'"/>

</launch>
