<launch>

  <arg name="robot_name" default="kmriiwa"/>
  
  <include file="$(find kmriiwa_description)/launch/kmriiwa_upload.launch"/>
  
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
  	<param name="publish_frequency" value="10"/>
  	<remap from="joint_states" to="$(arg robot_name)/arm/joint_states"/>
  </node>

</launch>
