<?xml version="1.0"?>
<robot name="kmriiwa" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- Import Rviz colors -->
  <xacro:include filename="$(find kmriiwa_description)/urdf/iiwa14/materials.xacro" />
  <!--Import the lbr iiwa macro -->
  <xacro:include filename="$(find kmriiwa_description)/urdf/iiwa14/iiwa14.xacro"/>
  <!--Import the kmp200 macro -->
  <xacro:include filename="$(find kmriiwa_description)/urdf/kmp200/kmp200.xacro"/>

  <xacro:property name="arm_base_flange_x_pos" value="0.363" />
  <xacro:property name="arm_base_flange_y_pos" value="-0.184" />
  <xacro:property name="arm_base_flange_z_pos" value="-0.01" />
  <xacro:property name="arm_base_flange_yew" value="-1.5708" />
  <xacro:property name="origin_xyz" value="${arm_base_flange_x_pos} ${arm_base_flange_y_pos} ${arm_base_flange_z_pos}"/>
  <xacro:property name="origin_rpy" value="0 0 ${arm_base_flange_yew}"/>

  <xacro:arg name="robot_name" default="kmriiwa"/>
  <xacro:arg name="hardware_interface" default="PositionJointInterface"/>

  <!--kmp200-->
  <xacro:kmp200 robot_name="$(arg robot_name)"/>

  <!--TODO add joint and link for the extra flange-->
  

  <!--iiwa-->
  <xacro:iiwa14 hardware_interface="$(arg hardware_interface)" robot_name="$(arg robot_name)" parent="base_top_link">
    <origin xyz="${origin_xyz}" rpy="${origin_rpy}" />
  </xacro:iiwa14>
  
</robot>
