<launch>
  <!-- By default we do not overwrite the URDF. Change the following to true to change the default behavior -->
  <arg name="load_robot_description" default="false"/>
  <arg name="robot_name" default="kmriiwa"/>
  <arg name="no_virtual_joint" default="true"/>

  <!-- The name of the parameter under which the URDF is loaded -->
  <arg name="robot_description" default="robot_description"/>

  <!-- Load universal robot description format (URDF) -->
  <param if="$(arg load_robot_description)" name="$(arg robot_description)" command="xacro  '$(find kmriiwa_description)/urdf/robot/kmriiwa.urdf.xacro'"/>

  <!-- The semantic description that corresponds to the URDF -->
  <!-- <param name="$(arg robot_description)_semantic" textfile="$(find kmriiwa_moveit)/config/kmriiwa.srdf" /> -->
  <param name="$(arg robot_description)_semantic" command="xacro  '$(find kmriiwa_moveit)/config/kmriiwa.srdf.xacro' robot_name:='$(arg robot_name)' no_virtual_joint:='$(arg no_virtual_joint)'" />

  <!-- Load updated joint limits (override information from URDF) -->
  <group ns="$(arg robot_description)_planning">
    <rosparam command="load" file="$(find kmriiwa_moveit)/config/joint_limits.yaml" subst_value="true">$(arg robot_name)</rosparam>
  </group>

  <!-- Load default settings for kinematics; these settings are overridden by settings in a node's namespace -->
  <group ns="$(arg robot_description)_kinematics">
    <rosparam command="load" file="$(find kmriiwa_moveit)/config/kinematics.yaml" subst_value="true">$(arg robot_name)</rosparam>

  </group>

</launch>
